{{right_sidebar_enabled=True,('message' in globals())}}
{{extend 'layout.html'}}

<h3>
    Input
</h3>
{{=form}}
{{=brewviewform}}
<script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
        <script src="liquidFillGauge.js" language="JavaScript"></script>

{{
mydata = brewRemaining
}}
<h3>
    Liquid Gauge: Pints of Brew left in keg
</h3>

<div class="span6">
{{=LOAD('graphs','liquidGauge.load',ajax=True, vars={'dataset':mydata})}}
</div>

<h3>
    Data
</h3>

<table style="width:100%" table id="templist">
    <tr>
        <th>
            Brew Name
        </th>
        <th>
            Date of Reading
        </th>
        <th>
            Pints poured
        </th>
    </tr>
{{for row in recs:}}
    <tr>
        <td>
        {{=row['brewname']}}
        </td>
        <td>
        {{=row['readingdate']}}
        </td>
        <td>
        {{=row['amount']}}
        </td>
    </tr>
{{pass}}
</table>

{{block right_sidebar}}
<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
                                                          href="{{=URL('admin','default','index')}}">
        <i class="glyphicon glyphicon-cog"></i>
    {{=T("admin")}}
    </a></h3></div>
    <div class="panel-body">
    {{=T("Navigation")}}
    </div>
    <ul class="list-group">
        <li class="list-group-item">{{=A(T("Add Brews"), _href=URL('addBrew'))}}</li>
        <li class="list-group-item">{{=A(T("Fermentation Monitor"), _href=URL('fermentationMonitor'))}}</li>
        <li class="list-group-item">{{=A(T("Keg Monitor"), _href=URL('howMuchIsLeft'))}}</li>
    </ul>
</div>
{{end}}